.l-fullimage {

	width: 100%;
	position: relative;
	background-size: cover;

	&:before {
		content: '';
		display: block;
		padding-bottom: 53.44%;

		@include mq($from: tablet, $until: desktop) {
			padding-bottom: 100%;
		}

		@include mq($until: tablet) {
			display: none;
		}
	}

	&__content {
		position: absolute;
		width: 26%;
		bottom: 0;
		right: 4%;
		height: auto;
		z-index: 2;
		padding-bottom: 4%;
		color: $white;

		@include mq($from: tablet, $until: wide) {
			width: 40%;
		}

		@include mq($until: tablet) {
			display: block;
			width: 100%;
			position: static;
			background-color: $black;
			text-align: center;
			padding: 10%;
			box-sizing: border-box;

			&--mobile-white {
				background-color: $white;
				color: $black;
			}
		}
	}

	&__picture {
		z-index: 1;
		position: absolute;
		top: 0;
		z-index: 0;
		height: 100%;
		width: 100%;
		display: block;
		background-size: cover;
		background-position: center center;

		@include mq($until: tablet) {

			position: static;
			&:before {
				content: '';
				display: block;
				padding-bottom: 100%;
			}
		}
	}

	&__heading {
		font-size: 3.33em;
		line-height: 1;
		margin: 0 0 0.7em 0;
		font-family: 'CaslonGraD';
	}

	&__copy {
		font-size: 1.08em;
	}
}