			<section id="landing">
				<div class="l-fullscreen">
					<div class="p-landing">
						<div class="p-landing__content">
							<div class="c-globe-logo">
								<div class="c-globe-logo__globe">
								</div>

								<video class="c-globe-logo__video" autoplay preload loop poster="/images/poster.png">
									<source src="/images/planet2.mp4" type="video/mp4">
								</video>
								<div class="c-globe-logo__logo">
									<svg class="icon c-globe-logo__icon">
										<use xlink:href="images/icons.svg#logo"></use>
									</svg>
								</div>

								<div class="c-globe-logo__tag">
									On the edge of Kew
								</div>
							</div>
						</div>
						<footer class="p-landing__footer">
							<div class="c-button js-scroll-down-1">
								<svg class="icon c-button__icon">
									<use xlink:href="/images/icons.svg#angle-down"></use>
								</svg>
							</div>

							<div class="p-landing__footer-right">
								<a href="http://www.glenvill.com.au/" target="_blank">
									<svg class="icon c-glenvill-logo">
										<use xlink:href="/images/icons.svg#logo-glenvill"></use>
									</svg>
								</a>
							</div>
						</footer>
					</div>
				</div>
			</section>
			<section id="message">
				<div class="p-message">
					<div class="p-message__logo">
					</div>
					<div class="p-message__content">
						<img src="images/message.png" class="p-message__title">
						<div class="p-message__copy p-message__copy--wide">
							<h5 class="p-message__gold-text">
								Health & Wellness • Arts & Culture • Proposed New School • Shopping Destination • Lush Green Spaces • Tech-concierge • Curated Food Retailers
							</h5>
							<div class="p-message__badge-copy">
								<p>
									Only 6.5km from Melbourne CBD, YarraBend is a showcase of holistic innovation, creativity and cosmopolitan living, an exciting new suburb featuring premium homes, townhomes and apartments.
								</p>
								<div class="c-register c-register--white">
									<a href="register.html" title="Register Page">
										Register Now
									</a>
								</div>
							</div>
						</div>
					</div>

					<div class="p-message__scroll-down">
						<div class="c-button js-scroll-down-2">
							<svg class="icon c-button__icon">
								<use xlink:href="/images/icons.svg#angle-down"></use>
							</svg>
						</div>
					</div>


					<div class="c-social">
						<a href="tel:+61395738320" class="c-social__call">
							Call 9573 8320
						</a>
						<a href="https://www.facebook.com/glenvillcustomhomes/" target="_blank" class="c-social__link facebook">
							<svg class="icon c-social__icon">
								<use xlink:href="/images/icons.svg#social-facebook"></use>
							</svg>
						</a>
						<a href="https://www.instagram.com/glenvillhomes/" target="_blank" class="c-social__link instagram">
							<svg class="icon c-social__icon">
								<use xlink:href="/images/icons.svg#social-instagram"></use>
							</svg>
						</a>
						<a href="terms.pdf" target="_blank" class="c-social__text-link">
							Terms
						</a>
						<a href="privacy.pdf" target="_blank" class="c-social__text-link">
							Privacy
						</a>
						<a href="https://www.consumer.vic.gov.au/duediligencechecklist" target="_blank" class="c-social__text-link">
							Checklist
						</a>
						<span class="c-social__copy">
							Copyright Glenvill Pty Ltd
						</span>
						<div class="c-social__logo">
							<svg class="icon c-glenvill-logo c-glenvill-logo--center">
								<use xlink:href="/images/icons.svg#logo-glenvill"></use>
							</svg>
						</div>
					</div>
				</div>
			</section>