
			<section id="masterplan">
				<div class="p-masterplan">
					<div class="p-masterplan__img"></div>
					<div class="p-masterplan__content">
						<h3 class="p-masterplan__heading">
							Welcome to the suburb of the future.
						</h3>
						<div class="p-masterplan__copy">
							<p>Surrounded by verdant parklands, YarraBend is a visionary, riverside suburb only 10 minutes from Melbourne CBD. With its unique combination of open spaces and cutting edge design, YarraBend is where new technology and old traditions meet.</p>
							<p>Yarrabend will be Melbourne’s first future-proof neighbourhood to include Tesla Powerwalls in all residences, achieving the highest level of sustainability and quality of life.</p>
						</div>
					</div>

				</div>
			</section>