
			<section id="masterplan">
				<div class="p-masterplan">
					<div class="p-masterplan__img"></div>
					<div class="p-masterplan__content">
						<h3 class="p-masterplan__heading">
							Welcome to the suburb of the future.
						</h3>
						<div class="p-masterplan__copy">
							<p>Surrounded by parklands of green open spaces, YarraBend is a visionary, riverside suburb just 6.5km from Melbourne CBD. With its unique combination of open spaces and cutting edge design, YarraBend is where new technology and old traditions meet.</p>
							<p>YarraBend will be a world first TESLA suburb by including Tesla Powerwalls within houses. YarraBend has been designed to achieve the highest level of sustainability and quality of life.</p>
						</div>
					</div>

				</div>
			</section>