		<footer class="l-footer">
			<div class="l-footer__left">
				<a href="http://www.glenvill.com.au/" target="_blank">
					<svg class="icon c-glenvill-logo c-glenvill-logo--inline">
						<use xlink:href="/images/icons.svg#logo-glenvill"></use>
					</svg>
				</a>

				<a href="https://www.facebook.com/YarraBend-832466560253959/" target="_blank" class="l-footer__social facebook">
					<svg class="icon l-footer__social">
						<use xlink:href="/images/icons.svg#social-facebook"></use>
					</svg>
				</a>
				<a href="https://www.instagram.com/GLENVILL_/" target="_blank" class="l-footer__social instagram">
					<svg class="icon l-footer__social">
						<use xlink:href="/images/icons.svg#social-instagram"></use>
					</svg>
				</a>
				<a id="showmore" href="#readmore">+ Read More About YarraBend</a>
			</div>

			<div class="l-footer__right">
				<span>
					© Glenvill 2016
				</span>
				<a href="pdfs/Website_Terms_-_August_2016.pdf" class="l-footer__link" target="_blank">
					Terms
				</a>
				<a href="privacy.pdf" class="l-footer__link" target="_blank">
					Privacy
				</a>
				<a href="https://www.consumer.vic.gov.au/duediligencechecklist" target="_blank" class="l-footer__link">
					Checklist
				</a>
				<span class="l-footer__link js-scroll-to-top">
					Back to top
				</span>
			</div>

			<div id="readmore"> <h1>YarraBend</h1>
				<p>Welcome to YarraBend; a new and upcoming <strong>Glenvill development</strong> that aims to offer the lifestyle you have been dreaming about. YarraBend is an eco-conscious community that offers tech-friendly services, recreational facilities, lush greenery and ultra modern designer homes, all located less than 7km from the heart of the Melbourne CBD.</p>
				<p>Along with plush surroundings, the <strong>houses in YarraBend</strong> are unlike anything you have experienced before. Each home in YarraBend is designed by world-class architects and landscapers and can be uniquely tailored to suit your every whim and fancy.</p>
				<p>All properties are also constructed from sustainable materials and feature solar PV energy and Tesla Powerwalls, which means your YarraBend property will stand the test of time and revolutionise the way homes are built for years to come. Whether you are looking for a designer home or simply want to buy into the amazing YarraBend community, we have a range of options to suit you.</p>
				<h2>Houses &amp; Townhouses YarraBend</h2>
				<p>Over the years, <strong>Glenvill homes</strong> have become some of the most prestigious and highly sought after properties in the world. If you are looking for an impeccable family home or townhouse located just outside of the Melbourne CBD, YarraBend is the perfect destination.</p>
				<p>All of the <strong>houses for sale in YarraBend </strong>are ultra-modern and stylish, yet still offer a traditional, old-world charm that is hard to come by. They also include all the amenities you are looking for such as, european appliances, stone bench tops, entertainment areas and stunning views.</p>
				<p>Each designer home in YarraBend can be tailored to suit every taste and style, and also feature that signature Glenvill look. What sets YarraBend apart from the rest however, is the innovation that goes into every new house and townhouse in the area. This includes energy efficient lighting, Tesla Powerwalls, solar panels, high- speed internet capabilities and also a personalised app that offers information about the community and social events. When you purchase <strong>house and land in YarraBend</strong>, you are also buying into a health-centred neighbourhood that provides access to outdoor areas, recreational facilities and playgrounds.</p>
				<p>Select homes and <strong>townhouses in YarraBend</strong> also come with beautiful views of the iconic Yarra River, making this new suburb of Melbourne a highly desirable place to live. <strong>Homes for sale in YarraBend</strong> are already in high demand, so interested buyers are encouraged to act quickly to avoid missing out on this once in a lifetime opportunity.</p>
				<h2>Apartments YarraBend</h2>
				<p>If you are looking to be close to the city yet still enjoy the comforts of suburban living, YarraBend is the perfect destination. Located close to the prestigious suburb of Kew and less than 7km from the Melbourne CBD, the new development of YarraBend is a community like no other. Created to appeal to the Melbourne lifestyle, YarraBend offers health and wellness facilities, is tech savvy and offers eco-conscious designer apartments suitable for all tastes and styles.</p>
				<p><strong>Apartments in YarraBend</strong> also feature Tesla Powerwalls, alfresco entertainment areas, stone bench tops, european appliances and can be tailored to your specific needs and desires.</p>
				<p>Owning an apartment in this highly sought after suburb is also an excellent investment and one that will keep delivering rewards year after year. This is because the YarraBend facilities, location and lifestyle appeal to everyone including families, young couples, the elderly and singles. Whether you are looking for a designer apartment or <strong>investment property, Yarra Bend</strong> truly has it all.</p>
				<h2>House and Land Package YarraBend</h2>
				<p>Glenvill has the experience and proven track record for creating desirable fantastic places to live, work and play. This track record has made Glenvill one of the </strong>Melbourne.</p>
				<p>Glenvill understands what people want and have aimed to create a community demographic and age range, but also offers the latest in innovation and technology.</p> <p>YarraBend offers everything from health and wellness facilities, including
				communities that are <strong>best developers in
				that appeals to a wide
				gyms and swimming pools, to a dedicated tech concierge who can help you with everything from installing high-speed internet to setting up your
				home entertainment system.</p>
				<p>Due to high demand, <strong>houses for sale in YarraBend</strong> are expected to sell quickly, and
					interested buyers are encouraged to start the process now to avoid missing out. There are also opportunities to purchase <strong>off the plan in YarraBend</strong>, which means that you can really capitalise on this up and coming suburb of Melbourne.</p>
					<p><strong>House and land packages in YarraBend</strong> are also available for a limited time and getting in early will grant you access to the most premium properties at the best prices. If you are looking for a visionary lifestyle that offers everything from lush greenery to tech savvy living and modern dwellings, YarraBend is truly the perfect place to call home.</p>
					<p>If you are looking for <a href="/alphington-real-estate/">real estate in Alphington, an <a href="/property-off-the-plan-melbourne/">off-the-plan property in Melbourne</a>, or if you are interested in purchasing homes, apartments, townhouses or land in YarraBend contact us here.</p>
				</div>
			</footer>