		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Yarra Bend</title>
		<meta name="description" content="YarraBend is a visionary, riverside suburb only 10 minutes from Melbourne. Surrounded by parkland and a unique combination of open spaces, YarraBend will reinvent the way people live, work and have fun.">
		<meta name="keywords" content="Alphington Papermill,Yarrabend,Yarra Bend,Real estate,Property,Melbourne,Inner City,Sustainable Living,House and Land,Townhouses,Apartments,Smart Homes,Masterplan,Property Investment,Alphington,Kew">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="apple-touch-icon" href="apple-touch-icon.png">

		<link rel="stylesheet" href="css/main.css?ver=122">
		<script src="js/vendor/modernizr-2.8.3.min.js"></script>

		<script type="text/javascript">var _kmq = _kmq || [];
		var _kmk = _kmk || '21f48ba68be4a0f8b81f798b6c80e311be899e59';
		function _kms(u){
		  setTimeout(function(){
		    var d = document, f = d.getElementsByTagName('script')[0],
		    s = d.createElement('script');
		    s.type = 'text/javascript'; s.async = true; s.src = u;
		    f.parentNode.insertBefore(s, f);
		  }, 1);
		}
		_kms('//i.kissmetrics.com/i.js');
		_kms('//scripts.kissmetrics.com/' + _kmk + '.2.js');
		</script>
