		<header class="l-header">

			<div class="l-header__left">
				<div class="c-hamburger js-menu-toggle">
					<div class="c-hamburger__line"></div>
					<div class="c-hamburger__line"></div>
					<div class="c-hamburger__line"></div>
				</div>
			</div>
			<div class="l-header__center">
				<div class="c-logo c-logo--with-tag">
					<svg class="icon c-logo__icon">
						<use xlink:href="/images/icons.svg#logo-with-tag"></use>
					</svg>
				</div>
			</div>
			<div class="l-header__right">
				<a href="booking.html" class="c-register c-register--no-underline c-register--white">
					Book Now
				</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="register.html" class="c-register c-register--no-underline c-register--white">
					Register Now
				</a>

			</div>
		</header>
		<nav class="l-nav">
			<ul class="l-nav__list">
				<li class="l-nav__item js-goto-section js-update-on-scroll is-active" data-section="message">
					<span class="l-nav__item--hide-tablet">About </span>YarraBend
				</li>
				<li class="l-nav__item js-goto-section js-update-on-scroll is-active" data-section="masterplan">
					<span class="l-nav__item--hide-tablet">The </span>Masterplan
				</li>
				<li class="l-nav__item js-goto-section js-update-on-scroll" data-section="techology">
					Technology
				</li>
				<li class="l-nav__item js-goto-section js-update-on-scroll" data-section="health">
					Health<span class="l-nav__item--hide-tablet"> & Wellbeing</span>
				</li>
				<li class="l-nav__item js-goto-section js-update-on-scroll" data-section="infrastructure">
					Infrastructure
				</li>
				<li class="l-nav__item js-goto-section js-update-on-scroll" data-section="residences">
					Residences
				</li>
				<li class="l-nav__item js-goto-section js-update-on-scroll" data-section="location">
					Location
				</li>
				<li class="l-nav__item l-nav__item--mobile-only js-form-open">
					Register Now
				</li>
			</ul>
		</nav>