.c-gallery {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;

	&__slide {
		height: 100%;;
		width: 100%;
		background-size: cover;
		background-position: center center;
	}

	&__pager {
		position: absolute;
		z-index: 101;
		top: 50%;
		right: 3.33em;
		transform: translateY(-50%);

		@include mq($until: tablet) {
			left: 0;
			width: 100%;
			text-align: center;
			top: auto;
			bottom: 1.83em;
		}
	}

	&__pager-dot {
		width: 0.67em;
		height: 0.67em;
		display: block;
		box-sizing: border-box;
		border: 1px solid $white;
		border-radius: 50%;
		display: block;
		margin: 0.35em 0;
		cursor: pointer;

		&.is-active {
			background-color: $white;
		}

		@include mq($until: tablet) {
			display: inline-block;
			margin: 0 .35em;
		}
	}

	&__note {
		position: absolute;
		bottom: 1em;
		left: 1em;
		font-size: 1em;
		color: $white;
		z-index: 101;
		text-shadow: 2px 0px 2px rgba(0, 0, 0, 0.2);
	}

	&__gradient {

		display: block;
		height: 6em;
		height: 3em;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 100;
		background: -moz-linear-gradient(45deg,  rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(45deg,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 20%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(45deg,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 20%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
}