.c-logo {
	position: relative;
	display: inline-block;
	width: 100%;
	overflow: hidden;

	&:after {
		content: '';
		display: block;
		padding-bottom: 15%;
	}

	&__icon {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}

	&--with-tag {
		&:after {
			padding-bottom: 27%;
		}
	}
}