.c-privacy {

	width: 600px;
	position: relative;
	margin: 50px auto;
	text-align: center;

	h3 {
		font-family: 'CaslonGraD';
	}

	ol li {
		margin: 0 0 1em 0;
		list-style-position: inside;
	}

	a:hover {
		text-decoration: underline;
	}

}