.c-register {
	font-family: 'CaslonGraD';
	color: $black;
	font-size: 1.67em;
	border-bottom: 1px solid $black;
	line-height: 2;
	display: inline-block;
	cursor: pointer;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);

	&--white {
		color: $white;
		border-bottom: 1px solid $white;
	}

	&--large {
		font-size: 2.67em;
	}


	&--no-underline {
		border-bottom: none;
	}

	&__sub-text {
		font-size: 0.5em;
		display: block;
		margin-top: -1em;
	}
}