.c-social {

	margin-top: 3.33em;
	padding-bottom: 3.33em;
	text-align: center;

	@include mq($until: tablet) {
		display: none;
	}

	&__call {
		display: block;
		font-size: 1.33em;
		margin-bottom: 0.62em;

		@include mq($from: tablet) {
			display: none;
		}

	}


	&__link {
		display: inline-block;
		height: 1.50em;
		width: 1.50em;
		margin: 0 0.25em;
		vertical-align: middle;
	}

	&__copy {
		display: inline-block;
		height: 1.50em;
		width: 1.50em;
		margin: 0 0.25em;
		vertical-align: middle;
		white-space: nowrap;

		@include mq($until: tablet) {
			width: 100%;
			display: block;
			text-align: center;
			position: relative;
			margin: 2em auto;
		}
	}

	&__text-link {
		display: inline-block;
		margin: 0 1em;
	}

	&__icon {
		display: block;
		height: 100%;
		width: 100%;
	}

	&__space {
		height: 2em;
	}

	&__logo {
		margin-top: 2em;
		display: none;
		@include mq($from: tablet) {
			margin-top: 0;
			float: right;
		}
	}

	@include mq($from: tablet) {
		padding: 0 4.42em;
		text-align: left;
	}
}