.c-text-block {

	color: $grey;
	position: relative;
	width: 100%;
	margin: 0 auto;

	&__heading {
		font-size: 3.33em;
		line-height: 1;
		margin: 0 0 0.7em 0;
		font-family: 'CaslonGraD';

		@include mq($until: tablet) {
			text-align: center;
		}
	}

	&__copy {
		font-size: 1.08em;
		@include mq($until: tablet) {
			text-align: center;
		}
	}


	&--w60 {
		width: 70%;

		@include mq($until: tablet) {
			width: 80%;
		}
	}

	&--white {
		color: $white;
	}

	&--pad-top {
		padding-top: 5.83em;
	}

	@include mq($until: tablet) {
		padding: 2.92em 0;
	}
}