.p-about {
	height: 100%;
	width: 100%;
	background-color: $white;
	color: $black;
	position: relative;
	box-sizing: border-box;
	text-align: center;

	// lazy load
	transform: translateY(5%);
	opacity: 0.5;
	transition: all 0.3s ease;




	&__header {
		width: 100%;
		margin-top: 3.5em;
	}

	&__logo {
		display: inline-block;
		width: 15.58em;
		height: 2.33em;
		color: $black;
		margin: 0 0 0.58em 0;
	}

	&__tag-line {
		font-size: 1.25em;
		font-family: 'CaslonGraD';
		margin: 0;
	}

	&__content {
		position: absolute;
		left: 0;
		width: 100%;
		top: 50%;
		transform: translateY(-50%);
	}

	&__heading {
		width: 60%;
		position: relative;
		margin: 0 auto;
		font-family: 'CaslonGraD';
		font-size: 5em;
		line-height: 1;
		margin-bottom: 0.5em;

		@include mq($until: tablet) {
			font-size: 2.50em;
			width: 80%;
			margin-bottom: 1em;
		}
	}

	&__text {
		font-size: 1.33em;
		line-height: 1.25;
		width: 30%;
		position: relative;
		margin: 0 auto;
		margin-bottom: 1em;

		@include mq($until: tablet) {
			width: 80%;
		}
	}


	&__footer {
		position: absolute;
		text-align: center;
		width: 100%;
		bottom: 4em;
	}

	&__footer-right {
		position: absolute;
		top: 50%;
		right: 5.33em;
		transform: translateY(-50%);

		@include mq($until: tablet) {
			display: none;
		}
	}
}