.p-form {
	position: relative;
	width: 100%;
	top: 0;
	left: 0;
	background-color: $black;
	padding: 2em 0;
	min-height: 100vh;
	color: $white;

	&__close {
		position: absolute;
		right: 6.17em;
		top: 3.17em;
		cursor: pointer;
		height: 1.25em;
		height: 1.25em;
		display: none;
	}

	&__close-icon {
		display: block;
		height: 100%;
		width: 100%;
	}

	&__logo {
		width: 15.67em;
		position: relative;
		margin: 0 auto 5.50em auto;
		color: $white;
	}

	&__heading {
		font-size: 2em;
		color: $white;
		font-family: 'CaslonGraD';
		text-align: center;
	}

	&__form {
		position: relative;
		width: 31.67em;
		margin: 0 auto;

		@include mq($until: tablet) {
			width: 90%;
		}
	}

	&__fields {
		padding-bottom: 2em;
	}

	&__field {
		width: 48%;
		height: 2.5em;
		display: inline-block;
		margin-left: 0px;
		margin-bottom: 1em;
		position: relative;

		&:nth-child(2n + 2) {
			margin-left: calc(4% - 4px);

			@include mq($until: tablet) {
				margin-left: 0;
			}

		}

		&:nth-child(2n + 6) {
			margin-left: 0px;
		}

		&:nth-child(2n + 7) {
			margin-left: calc(4% - 4px);

			@include mq($until: tablet) {
				margin-left: 0;
			}

		}

		&--full {
			width: 100%;
			margin-left: 0px;
		}

		@include mq($until: tablet) {
			width: 100%;
			margin-left: 0;
		}
	}

	&__submit {
		font-family: 'CaslonGraD';
		border: none;
		background-color: transparent;
		display: block;
		position: relative;
		margin: 0 auto;
		font-size: 2em;
		color: $white;
	}

	&__note {
		width: 100%;
		font-size: 0.75em;

		&--center {
			text-align: center;
		}
	}


	&__text {
		text-align: center
	}
}