.p-message {
	padding: 3em 0;
	background-color: $black;
	color: $white;
	text-align: center;

	&__logo {
		position: relative;
		margin: 0 auto 3em auto;
		width: 200px;
	}

	&__content {
		width: 70%;
		position: relative;
		margin: 0 auto;

		@include mq($until: tablet) {
			width: 80%;
		}
	}

	&__title {
		display: block;
		width: 100%;
		margin-bottom: 3em;
	}

	&__copy {
		width: 500px;
		position: relative;
		margin: 0 auto 50px auto;
		font-size: 1.33em;
		line-height: 1.25;

		&--wide {
			width: 100%;
		}

		@include mq($until: tablet) {
			width: 100%;
		}
	}

	&__em-text {
		font-family: 'CaslonGraD';
		font-size: 2em;

		@include mq($until: tablet) {
			font-size: 1.5em;
		}
	}

	&__gold-text {
		font-size: 1.83em;
		font-family: 'CaslonGraD';
		color: #8B6E4A;

		@include mq($until: tablet) {
			font-size: 1.2em;
			width: 80%;
			position: relative;
			margin: 0 auto 1.5em auto;
		}

	}

	&__badge-copy {
		width: 720px;
		padding: 0 190px;
		position: relative;
		margin: 0 auto;
		box-sizing: border-box;
		background-image: url(../images/badge.png);
		background-position: top right;
		background-repeat: no-repeat;

		@include mq($until: desktop) {
			width: 100%;
			padding: 0 10% 10% 10%;
			font-size: 0.8em;
			background-position: right 90%;
			background-size: 60px 60px;

			p {
				margin-bottom: 3em;
			}
		}
	}

	&__scroll-down {
		display: none;

		@include mq($until: tablet) {
			display: block;
		}
	}

	&--booking {
		min-height: 100vh;
	}
}
